body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding: 0;
}
ul{
	margin:0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	transition: .4s;
	-webkit-transition: all .4s ease-in-out;
}
a:hover{
	text-decoration: none;
	color: #82B60B;
}
button:focus{
	outline: none;
}
input:focus{
	outline: none;
}
p{
	color: #191919;
}
/*Header*/
.mtb-100{
	margin: 100px 0px;
}
.mt-100{
	margin-top: 100px !important;
}
.uta-client-logo-default {
    width: 100%;
    overflow: hidden;
}
.uta-client-logo-default-single {
    padding: 20px;
    box-sizing: border-box;
}
.uta-client-logo-default-single-full {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%);
    background-color: #ffffff;
    text-align: center;
    -webkit-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.uta-client-logo-default-single-full img {
    width: 85%;
    margin: 0 auto;
    opacity: .5;
    -webkit-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.uta-client-logo-default-single-full:hover img{
	opacity: 1;
}
/*
 * Style 1
*/
.uta-client-logo-style-1{
	width: 100%;
	overflow: hidden;
}
.uta-client-logo-style1-single {
    box-sizing: border-box;
    padding: 10px;
}
.uta-client-logo-style1-single-full {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.uta-client-logo-style1-single-full img {
    width: 70%;
    margin: 0 auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.uta-client-logo-style1-single-full:hover img{
	transform: scale(1.2);
}
/*
 * Style 2
*/
.uta-client-logo-style-2 {
	max-width: 1140px;
	margin: auto;
	width: 100%;
	overflow: hidden;
}
.uta-client-logo-style2-single-full {
	background-color: transparent;
	position: relative;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
	text-align: center;
	line-height: 1;
}
.uta-client-logo-style2-single-full .uta-partner-overly {
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.uta-client-logo-style2-single-full:hover .uta-partner-overly {
	top: 0;
}
.uta-client-logo-style2-single-full img {
	display: initial;
}

/*
 * Style 3
*/
.uta-client-logo-style-3{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.uta-client-logo-style3-single-full {
	text-align: center;
}
.uta-client-logo-style3-single-full img {
	display: initial;
}
.uta-client-logo-style3-single-full {
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.uta-client-logo-style3-single-full:hover{
	background: #ddd;
}
/*
 * Style 4
*/
.uta-client-logo-style-4{
	width: 100%;
	overflow: hidden;
	padding:0px 20px;
	box-sizing: border-box;
}
.uta-client-logo-style4-single {
	width: 20%;
	float: left;
	text-align: center;
	border: 1px solid #333;
	box-sizing: border-box;
	border-right: none;
	-webkit-transition:all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position: relative;
}
.uta-client-logo-style4-single::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #26915e;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0;
}
.uta-client-logo-style4-single:hover:after{
	opacity: 1;
}
.uta-client-logo-style4-single:last-child{
	border-right:  1px solid #333;
}
.uta-client-logo-style4-single img{
	-webkit-transition:all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.uta-client-logo-style4-single:hover img{
	transform: scale(1.2);
}
/*
 * Style 5
*/
.uta-client-logo-style-5{
	width: 100%;
	overflow: hidden;
}
.uta-client-logo-style5-single {
	padding: 10px 15px;
	box-sizing: border-box;
	text-align: center;
}
.uta-client-logo-style5-single-full {
	text-align: center;
	position: relative;
	border: 5px solid #bfc0c1;
}
.uta-client-logo-style5-single-full::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #bfc0c1;
	top: 0;
	z-index: -1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.uta-client-logo-style5-single-full:hover::after{
	height: 0px;
}
.uta-client-logo-style5-single-full img {
	width: 94%;
	margin: 0 auto;
}
.mtb-100 {
	margin: 100px 0px;
	overflow: hidden;
}
@media (max-width: 991px){
	.uta-client-logo-style4-single {
		width: 31%;
		border: 1px solid #333;
		border-right: 1px solid;
		margin: 1%;
	}
}
@media (max-width: 676px){
	.uta-client-logo-style4-single {
		width: 48%;
	}
}
@media (max-width: 360px){
	.uta-client-logo-style4-single {
		width: 98%;
	}
}
/*
 * Style 6
*/
.uta-client-logo-style6-single {
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}
.uta-client-logo-style6-single-full {
	background: #d2d2d2;
	position: relative;
	padding: 20px 0px;
}
.uta-client-logo-style6-single-full img {
	width: auto;
	margin: 0 auto;
}
.uta-client-logo-style6-single-full .overly {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ff9090;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
	bottom: 0;
	transform: scale(2);
	opacity: 0;
}
.uta-client-logo-style6-single-full:hover .overly{
	transform: scale(1);
	opacity: 1;
}
.uta-client-logo-style6-single-full .overly h2 {
	color: #423434;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.uta-client-logo-style6-single-full {
	overflow: hidden;
}
/*
 * Style 7
*/
.uta-client-logo-style7-single {
	padding: 10px;
	box-sizing: border-box;
}
.uta-client-logo-style7-single-full {
	border: 1px solid #ccc;
	text-align: center;
	padding: 40px 10px;
	box-sizing: border-box;
	position: relative;
}
.uta-client-logo-style7-single-full img{
	display: initial;
}
.uta-client-logo-style7-single-full .uta-partner-overly {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}
.uta-client-logo-style7-single-full:hover .uta-partner-overly {
	opacity: 1;
	visibility:visible;
	height: 100%;
}
/*
 * Style 8
*/
.uta-client-logo-style8-single {
	padding: 10px;
	box-sizing: border-box;
}
.uta-client-logo-style8-single-full {
	border: 1px solid #ddd;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 30px 0px;
}
.uta-client-logo-style8-single-full img {
	margin: 0 auto;
}
.uta-client-logo-style8-single-full .uta-partner-overly {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #18191a;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	transform: scale(1.5);
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}
.uta-client-logo-style8-single-full:hover .uta-partner-overly{
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
/*
 * Style 9
*/
.uta-client-logo-style9-single {
	padding: 10px;
	box-sizing: border-box;
}
.uta-client-logo-style9-single-full img {
	width: 100%;
}
.uta-client-logo-style9-single-full {
	box-sizing: border-box;
	padding: 30px;
	border: 1px solid #ddd;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
}
.uta-client-logo-style9-single-full:hover{
	border:7px solid #333;
}
/*
 * Style 10
*/
.uta-client-logo-style10-single {
	padding: 10px;
	box-sizing: border-box;
}
.uta-client-logo-style10-single-full {
	background: #666;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
}
.uta-client-logo-style10-single-full img {
	margin: 0 auto;
}