/***************************
        blog
****************************/
.uta-blog {
  display: grid;
  margin-left: -10px;
  margin-right: -10px;
}

.uta-blog-item {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
          box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.uta-blog-item-content {
  padding: 20px;
}
.uta-blog-item-content ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.uta-blog-item-meta li {
  list-style: none;
}

.uta-blog-item-content ul li i {
  margin-right: 10px;
  font-size: 14px;
}

.uta-blog-item-img {
  position: relative;
}
.uta-blog-item-img span {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
          box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  position: absolute;
  left: 10px;
  bottom: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 14px;
}

.uta-blog-item-img span a {
  color: #fff;
}

.uta-blog-item-meta {
  font-size: 16px;
  border-top: 1px solid #eceef2;
  padding-top: 15px;
  margin-top: 15px;
}
.uta-blog-item-meta .avatar {
  border-radius: 50%;
  margin-right: 10px;
}
.uta-blog-item-meta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.uta-blog-item-meta .blog-meta-info {
  position: relative;
  margin: 0;
}

.uta-blog-item-meta .blog-meta-info:last-child {
  margin-right: 0;
}

.uta-blog-item-meta .blog-meta-info {
  position: relative;
  padding-right: 20px;
}

.uta-blog-item-meta .blog-meta-info:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 16px;
  background: #b7b2b2;
  height: 16px;
  width: 1px;
}

.uta-blog-item-meta .blog-meta-info:last-child:after {
  display: none;
}

.uta-blog-item-content h4 {
  font-size: 20px;
  margin: 0;
  color: #333;
  padding-bottom: 20px;
}
.uta-blog-item-content h4 p {
  font-size: 16px;
}
.uta-blog-item-content h4 .blog-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.blog-item-date {
  margin: 0;
}

.front-date {
  font-weight: 600;
  margin: 10px 0 15px !important;
}

.uta-blog-item-style {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.uta-blog-item-style-1 .thumbnail {
  overflow: hidden;
}

.uta-blog-item-style-1 .thumbnail img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uta-blog-item-style-1:hover .thumbnail img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.uta-blog-item-style-1 .thumbnail .blog-date {
  position: absolute;
  top: 20px;
  left: 20px;
  background: yellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uta-blog-item-style-1 .thumbnail .blog-date span {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.uta-blog-item-style.uta-blog-item-style-1 {
  -webkit-box-shadow: 0px 0px 10px 0px #ccc;
          box-shadow: 0px 0px 10px 0px #ccc;
}

.uta-blog-item-style.uta-blog-item-style-1 .content {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content ul li {
  display: inline-block;
  margin-right: 10px;
  color: #f38080;
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content ul li:last-child {
  margin: 0px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content ul li a {
  color: #f38080;
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 14px;
  font-weight: 700;
}

.uta-blog-item-style.uta-blog-item-style-1 .content h3 a {
  color: #333;
}

.uta-blog-item-style.uta-blog-item-style-1 .content h3 a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-1 .content p {
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content .read-more {
  margin-top: 20px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content .read-more a {
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-1 .content .read-more a i {
  -webkit-transform: all 0.3s ease-in-out;
          transform: all 0.3s ease-in-out;
}

.uta-blog-item-style.uta-blog-item-style-1 .content .read-more a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-1 .content .read-more a:hover i {
  padding-left: 7px;
}

a {
  -webkit-transform: all 0.3s ease-in-out;
          transform: all 0.3s ease-in-out;
}

/*
 * Blog 2
*/
.uta-blog-item-style.uta-blog-item-style-2 {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 0px #cccccc;
          box-shadow: 0px 0px 10px 0px #cccccc;
}

.uta-blog-item-style.uta-blog-item-style-2 .thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.uta-blog-item-style.uta-blog-item-style-2 .thumbnail:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uta-blog-item-style.uta-blog-item-style-2:hover .thumbnail:after {
  opacity: 1;
  visibility: visible;
}

.uta-blog-item-style.uta-blog-item-style-2 .content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.uta-blog-item-style.uta-blog-item-style-2 .content ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
}

.uta-blog-item-style.uta-blog-item-style-2 .content ul li:last-child {
  padding: none;
}

.uta-blog-item-style.uta-blog-item-style-2 .content ul li img {
  width: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 3px 0px #ccc;
          box-shadow: 0px 0px 3px 0px #ccc;
}

.uta-blog-item-style.uta-blog-item-style-2 .content h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 14px;
  font-weight: 700;
}

.uta-blog-item-style.uta-blog-item-style-2 .content h3 a {
  color: #333;
}

.uta-blog-item-style.uta-blog-item-style-2 .content h3 a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-2 .content p {
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-2 .content .read-more {
  margin-top: 20px;
}

.uta-blog-item-style.uta-blog-item-style-2 .content .read-more a {
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-2 .content .read-more a:hover {
  color: #f38080;
}

/*
 * Style 3
*/
.uta-blog-item-style.uta-blog-item-style-3 {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.uta-blog-item-style.uta-blog-item-style-3 img {
  width: 100%;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(45%, rgba(0, 0, 0, 0.67)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.67) 45%, rgba(0, 0, 0, 0) 100%);
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly .category a {
  background: #f38080;
  display: inline-block;
  border-radius: 50px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 8px;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly h3 a {
  color: #fff;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly h3 a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-3 .overly .meta span {
  color: #f38080;
  font-size: 16px;
  padding-right: 10px;
}

/*
 * Style 4
*/
.uta-blog-item-style.uta-blog-item-style-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 0px #f1ecec;
          box-shadow: 0px 0px 10px 0px #f1ecec;
  position: relative;
}

.uta-blog-item-style.uta-blog-item-style-4 .thumbnail img {
  width: 100%;
}

.uta-blog-item-style.uta-blog-item-style-4 .thumbnail .category {
  position: absolute;
  top: 5px;
  right: 5px;
}

.uta-blog-item-style.uta-blog-item-style-4 .thumbnail .category a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  background: #3d87c7;
  padding: 5px 20px;
  border-radius: 43px;
  color: #fff;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .avater {
  margin-top: -30px;
  margin-left: 10px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .avater img {
  width: 100px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 15px solid #fff;
}

.uta-blog-item-style.uta-blog-item-style-4 .content {
  padding-left: 10px;
  padding-right: 10px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content h3 a {
  color: #333;
}

.uta-blog-item-style.uta-blog-item-style-4 .content h3 a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-4 .content p {
  font-size: 16px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .read-more {
  margin: 20px 0px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .read-more a {
  font-size: 16px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .read-more a i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .read-more a:hover i {
  padding-left: 5px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .read-more a:hover {
  color: #f38080;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .date_comment {
  border-top: 1px solid #f5ebeb;
  padding-top: 7px;
  padding-bottom: 8px;
}

.uta-blog-item-style.uta-blog-item-style-4 .content .date_comment span {
  font-size: 14px;
  color: #999;
  padding-right: 10px;
}

.uta-blog-list-style .list-blog-thumbnail {
  width: 50%;
  float: left;
}

.uta-blog-list-style .list-blog-content {
  width: 50%;
  overflow: hidden;
}

.uta-blog-list-style {
  width: 95%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #f1ecec;
          box-shadow: 0 0 10px #f1ecec;
  overflow: hidden;
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .uta-blog-list-style {
    width: 98%;
  }
}
.uta-blog-list-style .list-blog-thumbnail img {
  width: 100%;
}

.uta-blog-list-style .list-blog-content {
  width: 50%;
  overflow: hidden;
  padding: 0px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.uta-blog-list-style .list-blog-content h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 7px;
}

.uta-blog-list-style .list-blog-content h2 a:hover {
  color: #f38080;
}

.uta-blog-list-style .list-blog-content .meta span {
  font-size: 16px;
  padding-right: 10px;
}

.uta-blog-list-style .list-blog-content p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 24px;
  margin-bottom: 20px;
}

.uta-blog-list-style .list-blog-content .read-more a {
  font-size: 16px;
  font-weight: 600;
}

.uta-blog-list-style .list-blog-content .read-more a:hover {
  color: #f38080;
}

.uta_blog_list_style-1 .list-blog-thumbnail {
  position: relative;
}

.uta_blog_list_style-1 .list-blog-thumbnail .overly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
}

.uta_blog_list_style-1 .list-blog-thumbnail .overly a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  background: #d8cece;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uta_blog_list_style-1 .list-blog-thumbnail .overly a:hover {
  background: #fff;
}

.uta_blog_list_style-1:hover .list-blog-thumbnail .overly {
  opacity: 1;
  visibility: visible;
}

.uta_blog_list_style-1 .share-blog span {
  display: inline;
  float: left;
  padding-right: 10px;
  font-weight: 600;
  font-size: 18px;
  padding-top: 6px;
}

.uta_blog_list_style-1 .share-blog ul li {
  display: inline-block;
  margin: 2px;
}

.uta_blog_list_style-1 .share-blog ul li a {
  display: inline-block;
}

.uta_blog_list_style-1 .share-blog ul li a i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #f5a227;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.uta_blog_list_style-1 .share-blog ul li a i:hover {
  background: #f79300;
}

.uta_blog_list_style-2 .list-blog-thumbnail {
  position: relative;
}

.uta_blog_list_style-2 .list-blog-thumbnail .overly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
}

.uta_blog_list_style-2 .list-blog-thumbnail .overly a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  background: #d8cece;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uta_blog_list_style-2 .list-blog-thumbnail .overly a:hover {
  background: #fff;
}

.uta_blog_list_style-2:hover .list-blog-thumbnail .overly {
  opacity: 1;
  visibility: visible;
}

.uta_blog_list_style-2 .share-blog span {
  display: inline;
  float: left;
  padding-right: 10px;
  font-weight: 600;
  font-size: 18px;
  padding-top: 6px;
}

.uta_blog_list_style-2 .share-blog ul li {
  display: inline-block;
  margin: 2px;
}

.uta_blog_list_style-2 .share-blog ul li a {
  display: inline-block;
}

.uta_blog_list_style-2 .share-blog ul li a i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #f5a227;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.uta_blog_list_style-2 .share-blog ul li a i:hover {
  background: #f79300;
}

.uta-blog-list-style .list-blog-content {
  float: left;
}

.list-blog-thumbnail.uta_blog_list_style_22 {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .uta-post-grid-column-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .uta-post-grid-column-tablet-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-tablet-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-tablet-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-tablet-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-tablet-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-tablet-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 876px) {
  .list-blog-thumbnail.uta_blog_list_style_22 {
    display: block !important;
    width: 100%;
  }

  .uta-blog-list-style.uta_blog_list_style-2 .list-blog-content {
    width: 100%;
    padding: 0px 12px;
    padding-bottom: 20px;
  }

  .uta-blog-list-style.uta_blog_list_style-2 .list-blog-thumbnail {
    display: none;
  }

  .uta-blog-list-style .list-blog-thumbnail {
    width: 100%;
    overflow: hidden;
  }

  .uta-blog-list-style .list-blog-content {
    width: 100%;
    overflow: hidden;
    padding: 0px 12px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .uta-post-grid-column-mobile-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-mobile-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-mobile-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-mobile-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-mobile-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-mobile-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 360px) {
  .uta_blog_list_style-1 .share-blog ul li a i {
    width: 32px;
    height: 32px;
    font-size: 13px;
  }
}