/*--------------------------------------------------------------
# Product List.
--------------------------------------------------------------*/
.uta-product-default .uta-product-list .woocommerce ul.products li.product {
  border-width: 0 !important;
  border: none;
}
.uta-product-default .uta-product-list .woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-weight: 700;
}

.uta-product-list .woocommerce ul.products {
  display: grid;
  grid-gap: 25px;
  margin: 0 0 15px 0;
  padding: 0 !important;
}
.uta-product-list .woocommerce ul.products li.product a img {
  margin-bottom: 0;
}

.uta-product-list .woocommerce ul.products:before,
.uta-product-list .woocommerce ul.products:after {
  display: none;
}

.uta-product-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uta-product-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 45%;
  margin: 0;
}

.uta-product-list-details {
  width: 55%;
  padding: 25px;
}

.uta-product-list .woocommerce ul.products .product {
  width: 100%;
  margin: 0;
  padding: 0;
}
.uta-product-list .woocommerce ul.products .product .uta-product-list-details p {
  color: #272727;
  line-height: 24px;
  font-size: 14px;
}

.uta-product-list .woocommerce ul.products.products[class*=columns-] li.product {
  width: 100%;
}

.uta-product-list.uta-product-simple .woocommerce ul.products li .product,
.uta-product-list.uta-product-simple .woocommerce ul.products li .button,
.uta-product-list.uta-product-simple .woocommerce ul.products li .button.add_to_cart_button {
  display: block !important;
  border-radius: 0;
  overflow: hidden;
  padding: 15px 10px;
}

@media only screen and (min-width: 1025px) {
  .uta-product-list-column-1 .uta-product-list .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .uta-product-list-column-2 .uta-product-list .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .uta-product-list-column-tablet-1 .uta-product-list .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .uta-product-list-column-tablet-2 .uta-product-list .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .uta-product-list-column-mobile-1 .uta-product-list .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .uta-product-list-column-mobile-2 .uta-product-list .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-product-list-wrapper {
    display: block;
  }

  .uta-product-img-wrapper {
    width: 100%;
  }

  .uta-product-list-details {
    width: 100%;
  }
}