/***************************
        Search
****************************/
.uta-product-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uta-product-category {
  width: 20%;
}

.uta-product-category select {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-right: none;
}

.uta-product-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.uta-product-search-form input {
  width: 100%;
}

@media (max-width: 999px) {
  .uta-product-search {
    display: block;
  }

  .uta-product-category {
    width: 100%;
    margin-bottom: 5px;
  }

  .uta-product-category select {
    border-right: 1px solid #eee;
  }

  .uta-product-search-form {
    width: 100%;
  }
}