/*--------------------------------------------------------------
#### Unlimited theme addons - Testimonials
--------------------------------------------------------------*/
.uta-testimonials ul {
  margin: 0;
  padding: 0;
}
.uta-testimonials li {
  list-style: none;
}
.uta-testimonials .slick-prev:before, .uta-testimonials .slick-next:before {
  font-size: 20px;
}
.uta-testimonials .slick-dots li button:before {
  font-size: 26px;
}
.uta-testimonials .slick-arrow {
  background: #333;
}
.uta-testimonials .slick-prev.slick-arrow {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 999;
}
.uta-testimonials .slick-next.slick-arrow {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  z-index: 999;
}
.uta-testimonials .slick-next:focus, .uta-testimonials .slick-next:hover, .uta-testimonials .slick-prev:focus, .uta-testimonials .slick-prev:hover {
  color: #fff !important;
  outline: 0;
  background: #333;
}

/*-------- Style Default ------------*/
.testimonial-style-default {
  background: #fff;
  cursor: move;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  margin: 50px 30px 30px;
  padding: 70px 50px 70px;
  text-align: center;
}
.testimonial-style-default img {
  right: 0;
  top: 0;
  left: 0;
  width: 100px;
  border-radius: 50% !important;
  margin: 0 auto 30px;
}
.testimonial-style-default p {
  margin-bottom: 30px;
  color: #2b2a5a;
  font-size: 16px;
  line-height: 26px;
}
.testimonial-style-default ul {
  margin: 0;
  color: #ffe552;
  list-style: none;
  padding-left: 0 !important;
}
.testimonial-style-default ul li {
  display: inline;
}
.testimonial-style-default h5 {
  font-size: 20px;
  color: #2b2a5a;
  margin-bottom: 5px;
}
.testimonial-style-default span {
  color: #2b2a5a;
  opacity: 0.8;
}

/*-------- Style 01 ------------*/
.uta-testimonial-style-1 {
  width: 100%;
  overflow: hidden;
}

.uta-testimonial-item1 {
  width: 95% !important;
  margin: 0 auto;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.uta-testimonial-item1 .uta-thumbnail {
  width: 150px;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 30px;
}

.uta-testimonial-item1 .uta-thumbnail img {
  width: 90%;
  margin: 3%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px #ccc;
          box-shadow: 0px 0px 10px 0px #ccc;
}

.uta-testimonial-item1 .uta-thumbnail h2 {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}

.uta-testimonial-item1 .uta-thumbnail h5 {
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

.uta-testimonial-item1 .uta-content {
  -webkit-box-shadow: 0px 0px 10px 0px #ccc;
          box-shadow: 0px 0px 10px 0px #ccc;
  padding: 20px 22px;
  margin: 10px;
  overflow: hidden;
  background: #fff;
}

.uta-testimonial-item1 .uta-content .ratting {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ff6a10;
}

.uta-testimonial-item1 .uta-content p {
  font-size: 16px;
  line-height: 24px;
  color: #777;
}

.uta-testimonial-item1 .uta-content::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  top: 49px;
  left: 162px;
  -webkit-box-shadow: -4px 6px 4px 0px #f9f9f9;
          box-shadow: -4px 6px 4px 0px #f9f9f9;
  z-index: 999;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

/*-------- Style 02 ------------*/
.uta-testimonial-style-2 {
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.uta-testimonial-style-2 .uta-thumbnail {
  width: 100px;
  margin: 0 auto;
}
.uta-testimonial-style-2 .uta-content {
  background: #f4f4fe;
  text-align: center;
  margin-top: -50px;
  padding-top: 68px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}
.uta-testimonial-style-2 .uta-content h2 {
  font-size: 26px;
  font-weight: 700;
}
.uta-testimonial-style-2 .uta-content h5 {
  font-size: 22px;
}
.uta-testimonial-style-2 .uta-content .ratting {
  font-size: 18px;
  margin-bottom: 12px;
  color: #ff6a10;
}
.uta-testimonial-style-2 .uta-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/*-------- Style 03 ------------*/
.uta-testimonial-item3 {
  width: 95% !important;
  margin: 2%;
}
.uta-testimonial-item3 .uta-content {
  width: 100%;
  background: #e0f0db;
  -webkit-box-shadow: 0px 0px 10px 0px #bdc8a6;
          box-shadow: 0px 0px 10px 0px #bdc8a6;
  margin-bottom: 33px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.uta-testimonial-item3 .uta-content:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: -25px;
  background: #e0f0db;
  width: 60px;
  height: 25px;
  -webkit-clip-path: polygon(0 100%, 14% 0, 100% 0);
          clip-path: polygon(0 100%, 14% 0, 100% 0);
}
.uta-testimonial-item3 .uta-content p {
  font-size: 17px;
  line-height: 25px;
}
.uta-testimonial-item3 .uta-thumbnail {
  overflow: hidden;
  width: 100%;
}
.uta-testimonial-item3 .uta-thumbnail img {
  width: 75px;
  border-radius: 50%;
  float: left;
  margin-right: 17px;
}
.uta-testimonial-item3 .uta-thumbnail .thumbnail-content {
  overflow: hidden;
}
.uta-testimonial-item3 .uta-thumbnail h2 {
  font-size: 22px;
  font-weight: 700;
}
.uta-testimonial-item3 .uta-thumbnail h5 {
  font-size: 14px;
  color: #666;
  margin-bottom: 7px;
  font-weight: 400;
}
.uta-testimonial-item3 .uta-thumbnail .ratting span {
  font-size: 16px;
  color: #ff6a10;
}

.uta-testimonial-style-1, .uta-testimonial-style-2, .uta-testimonial-style-3, .uta-testimonial-style-4, .uta-testimonial-style-5 {
  overflow: hidden;
}

/*-------- Style 04 ------------*/
.uta-testimonial-item4 {
  width: 96% !important;
  overflow: hidden;
  margin: 2%;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #ccc;
          box-shadow: 0px 0px 10px 0px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px;
}

.uta-testimonial-item4 .uta-content .uta-thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 50%;
}

.uta-testimonial-item4 .uta-content .uta-thumbnail img {
  width: 100%;
  border-radius: 50%;
}

.uta-testimonial-item4 .uta-content .uta-thumbnail .icon {
  position: absolute;
  z-index: 20;
  background: #ff8080;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  right: -19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #fff;
  top: 8px;
}

.uta-testimonial-item4 .uta-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.uta-testimonial-item4 .uta-content h5 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 6px;
}

.uta-testimonial-item4 .uta-content p {
  font-size: 15px;
  padding-top: 20px;
  line-height: 25px;
}

.uta-testimonial-item4 .uta-content .ratting span {
  font-size: 16px;
  color: #ff6a10;
}

/*-------- Style 05 ------------*/
.uta-testimonial-item5 {
  width: 96% !important;
  margin: 2%;
  overflow: hidden;
}

.uta-testimonial-item5 .uta-content {
  background: #6c0606;
  position: relative;
  padding: 30px 20px;
}

.uta-testimonial-item5 .uta-content::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  background: #6c0606;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
}

.uta-testimonial-item5 .uta-content p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.uta-testimonial-item5 .uta-thumbnail {
  width: 100%;
  background: #c2ddf4;
  padding: 20px;
  padding-top: 30px;
  overflow: hidden;
}
.uta-testimonial-item5 .uta-thumbnail .uta-thumbnail-content-5 {
  overflow: hidden;
}

.uta-testimonial-item5 .uta-thumbnail img {
  width: 90px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  margin-right: 15px;
}

.uta-testimonial-item5 .uta-thumbnail h2 {
  font-size: 20px;
  margin-top: 9px;
  font-weight: 600;
}

.uta-testimonial-item5 .uta-thumbnail h5 {
  font-weight: 400;
  margin-bottom: 6px;
  font-size: 14px;
}

.uta-testimonial-item5 .uta-thumbnail .ratting span {
  font-size: 16px;
  color: #ff6a10;
}

/*-------- Style 06 ------------*/
/*------ Responsive Style -----------*/
@media (max-width: 460px) {
  .uta-testimonial-item2 .uta-thumbnail {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .uta-testimonial-item2 .uta-thumbnail img {
    width: 150px;
    margin: 3% auto;
  }

  .uta-testimonial-item2 .uta-content::after {
    display: none;
  }
}
@media (max-width: 360px) {
  .uta-testimonial-item1 .uta-thumbnail {
    float: inherit;
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 14px;
  }

  .uta-testimonial-item1 .uta-content {
    padding: 12px 16px;
    width: 96%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .uta-testimonial-item1 .uta-content p {
    font-size: 15px;
    line-height: 22px;
  }

  .uta-testimonial-item3 .uta-content {
    padding: 16px 10px;
  }
}