@import "_variable.scss";


ul.uta-accordion {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    color:#fff;

    &.active {
      .accordion-icon{
        .default-icon{
          display: none;
        }
        .active-icon{
          display: block;
        }
      }
    }

    .accordion-heading {
      padding: 20px;
      background-color: $brand-color;
      transition: all .3s;

      &:hover{
        background-color: $brand-hover-color;
      }

      h3 {
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 15px;
        letter-spacing: 0.01em;
        cursor: pointer;
        color:#fff;
      }

    }



    .accordion-heading.icon-left h3 {
      justify-content: left;
    }

    .accordion-heading.icon-left h3 .accordion-icon{
        margin-right:20px;
    }

    .accordion-icon{
      .active-icon{
        display: none;
      }
    }

    .accordion-body {
      position: relative;
      display: none;
      width: 100%;
      height: auto;
      background:#fff;
      margin: 0;
      padding: 20px;
      cursor: pointer;
      color:#333;

      p {
        position: relative;
        display: block;
        font-weight: 300;
        padding: 10px 0 0 0;
        cursor: pointer;
        line-height: 150%;
        margin: 0 0 15px 0;
        font-size: 14px;
      }
    }



  }
}
