
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.uta-pricing-table {
  text-align: center;
  padding: 50px 30px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
}

.uta-pricing-table h6 {
  text-transform: uppercase;
}

.uta-pricing-table.recommended {
  position: relative;
}

.uta-pricing-table.recommended:after {
  position: absolute;
  content: 'Recommended';
  left: 27%;
  top: -15px;
  color: #fff;
  padding: 3px 15px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(142, 142, 142, 0.38);
  box-shadow: 0px 10px 20px 0px rgba(142, 142, 142, 0.38);
  border-radius: 20px;
  background: #065FD4
}

.uta-pricing-table .uta-currency {
  font-size: 16px;
}

.uta-pricing-table .uta-price {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 30px 0;
}

.uta-pricing-table>span {
  color: #000;
  border: 1px solid;
  border-radius: 20px;
  padding: 0 20px;
}

.uta-pricing-table ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.uta-pricing-table ul li {
  line-height: 40px;
  list-style:none;
}

.uta-pricing-table .uta-buy-button {
  color: #fff;
  padding: 12px 40px;
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #065FD4
}

.uta-pricing-table .uta-buy-button:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(125, 66, 202, 0.4);
  box-shadow: 0px 10px 20px 0px rgba(125, 66, 202, 0.4);
}




.uta-pricing-item {
  text-align: center;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #f0eaea;
  padding: 30px 0px;
}
.uta-pricing-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 2px;
}
.uta-pricing-item h2 {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 14px;
}
.uta-pricing-item h2 sup{
  font-size: 35px;
}
.uta-pricing-item ul li {
  border-bottom: 1px solid #eeeded;
  line-height: 30px;
  font-size: 14px;
  padding: 8px 0px;
}
.uta-pricing-item ul li:last-child{
  border-bottom: none;
}
.uta-pricing-item .pricing-btn{
  margin-top: 25px;
}
.uta-pricing-item .pricing-btn a {
  background: #11a28d;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 40px;
}
.uta-pricing-item .pricing-btn a:hover{
  background: #0a6255;
}
.uta-pricing-item.pricing-item-2 {
  padding-top: 0px;
  -webkit-transition:all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.uta-pricing-item.pricing-item-2:hover{
  transform: translateY(-10px);
}
.uta-pricing-item.pricing-item-2 .title {
  background: #2591f0;
  padding-top: 30px;
  padding-bottom: 1px;
  margin-bottom: 15px;
}
.uta-pricing-item.pricing-item-3 {
  margin: 12px;
  margin-bottom: 30px;
}
.uta-pricing-item.pricing-item-3.active {
  transform: scale(1.09);
  background: #bed8ee;
}




.uta-pricing-item {
    position: relative;
    overflow: hidden;
}

.pricing-item-1 span {
    position: absolute;
    top: 16px;
    right: -64px;
    background: #1a928c;
    color: #fff;
    padding: 10px 68px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    transform: rotate(40deg);
}
.uta-pricing-item.pricing-item-2.active .title {
    background: #f025e0;
}
.pricing-item-2.active span {
    position: absolute;
    top: 0;
    right: 0;
    background: #0072ff;
    padding: 6px 28px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 4px;
}



.uta-pricing-item{
  box-sizing:border-box;
}


.uta-pricing-item.pricing-item-4 {
    float: left;
    width: 100%;
    text-align: left;
    background: #fff;
    position: relative;
    padding: 32px;
    border-radius: 20px;
}
.uta-pricing-item.pricing-item-4 h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 13px;
    text-transform: capitalize;
}
.badge{
    background: #25265E;
}
.uta-pricing-item.pricing-item-4 h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    line-height: 40px;
    margin-bottom: 20px;
}
.uta-pricing-item.pricing-item-4 h5 label.badge {
    font-size: 12px;
    padding: 4px 10px;
    line-height: 1;
    border-radius: 20px;
    padding-bottom: 6px;
}
.uta-pricing-item.pricing-item-4 h2 sub {
    color: #9192A6;
    font-size: 20px;
    padding-right: 4px;
}
.uta-pricing-item.pricing-item-4 h2 span{
    color: #9192A6;
    font-size: 20px;
    font-weight: 500;
}
.uta-pricing-item.pricing-item-4.active {
    background: #ff6d60;
    color: #fff;
    transform: translateY(-14px);
}
.uta-pricing-item.pricing-item-4.active h2 span {
    color: #E5E5F0;
}
.uta-pricing-item.pricing-item-4.active h2 sub {
    color: #E5E5F0;
}
.uta-pricing-item.pricing-item-4 ul li {
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 5px 0px;
    border:none;
}
.uta-pricing-item.pricing-item-4 ul li i {
    color: #00c58d;
    background: rgba(0,197,141,0.1);
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    float: left;
    margin-top: 0px;
    margin-right: 7px;
}
.uta-pricing-item.pricing-item-4.active ul li i{
    background: #fff;
}
.uta-pricing-item.pricing-item-4 a.pricing {
    color: #fff;
    background: #ff6d60;
    line-height: 1;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 13px;
    padding-bottom: 13px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-btn a.pricing:hover{
    background: #034a66;
}
.uta-pricing-item.pricing-item-4.active .pricing-btn a.pricing{
    background: #034a66;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.uta-pricing-item.pricing-item-1 small {
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 4px;
}
.uta-pricing-item.pricing-item-2 small {
    font-weight: 400;
    font-size: 20px;
}
.uta-pricing-item.pricing-item-3 small {
    font-weight: 400;
    font-size: 20px;
}
.uta-pricing-item.pricing-item-5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 8px #ccc;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0px !important;
}
.uta-pricing-item.pricing-item-5:hover{
  transform: translateY(-15px);
}
.uta-pricing-item.pricing-item-5 .pricing-single-head {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  padding: 31px 10px;
  padding-bottom: 50px;
}
.uta-pricing-item.pricing-item-5 .pricing-single-head small {
  position: absolute;
  top: 13px;
  right: -56px;
  background: #15d9c6;
  display: inline-block;
  color: #fff;
  padding: 5px 64px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  transform: rotate(43deg);
}
.uta-pricing-item.pricing-item-5 .pricing-single-head h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.uta-pricing-item.pricing-item-5 .pricing-single-head h2 {
  color: #fff60a;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 15px;
}
.uta-pricing-item.pricing-item-5 .pricing-single-head h2 span {
  font-size: 18px;
  font-weight: 400;
}
.uta-pricing-item.pricing-item-5 .pricing-single-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.uta-pricing-item.pricing-item-5 .pricing-single-content ul li {
  color: #444;
  line-height: 48px;
  border-bottom: 1px dotted #ccc;
}
.uta-pricing-item.pricing-item-5 .pricing-single-content ul li i {
  font-size: 14px;
  color: #38f738;
  padding-right: 10px;
}
.uta-pricing-item.pricing-item-5 .pricing-single-content ul li:last-child{
  border-bottom: none;
}