

/***************************
        blog
****************************/
.uta-blog{
    display: grid;
    margin-left: -10px;
    margin-right: -10px;
}
.uta-blog-item {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px
}

.uta-blog-item-content {
    padding: 20px;
}

.uta-blog-item-content ul {
    margin-bottom: 0;
}

.uta-blog-item-content ul li i {
    margin-right: 10px;
    font-size: 14px;
}

.uta-blog-item-img {
    position: relative;
}

.uta-blog-item-img span {
    background: rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 14px;
}

.uta-blog-item-img span a {
    color: #fff;
}

.blog-item-meta-2 {
    font-size: 16px;
    border-top: 1px solid #eceef2;
    padding-top: 15px;
    margin-top: 15px;
}

.blog-item-meta-2 .avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.blog-item-meta-2 .list-inline-item {
    margin-bottom: 0;
    margin-right: 20px;
    text-transform: capitalize;
}

.blog-item-meta-2 .list-inline-item:last-child {
    margin-right: 0;
}

.blog-item-meta-2 .list-inline-item {
    position: relative;
}

.blog-item-meta-2 .list-inline-item:after {
    content: '';
    position: absolute;
    top: 8px;
    right: -6px;
    background: #b7b2b2;
    height: 16px;
    width: 1px;
}

.blog-item-meta-2 .list-inline-item:last-child:after {
    display: none;
}

.uta-blog-item-content h4 {
   font-size: 20px;
    margin-bottom: 0;
    margin: 0;
    color: #333;
}

.uta-blog-item-content p {
    font-size: 16px
}



.uta-blog-item-content .blog-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.front-date {
    font-weight: 600;
    margin: 10px 0 15px !important;
}


@media only screen and (min-width: 1025px) {
  .uta-post-grid-column-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .uta-post-grid-column-tablet-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-tablet-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-tablet-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-tablet-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-tablet-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-tablet-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .uta-post-grid-column-mobile-1 .uta-blog {
    grid-template-columns: 100%;
  }

  .uta-post-grid-column-mobile-2 .uta-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .uta-post-grid-column-mobile-3 .uta-blog {
    grid-template-columns: repeat(3, 1fr);
  }

  .uta-post-grid-column-mobile-4 .uta-blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .uta-post-grid-column-mobile-5 .uta-blog {
    grid-template-columns: repeat(5, 1fr);
  }

  .uta-post-grid-column-mobile-6 .uta-blog {
    grid-template-columns: repeat(6, 1fr);
  }
}