
/*--------------------------------------------------------------
## testimonials
--------------------------------------------------------------*/

.testimonial-item {
    background: #fff;
    cursor: move;
    border-radius: 6px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    margin: 50px 30px 30px;
    padding: 100px 50px 70px;
}

.testimonial-item img {
    border: 3px solid #000;
    position: absolute;
    top: -150px;
    right: 0;
    left: 0;
    width: 100px;
    border-radius: 50% !important;
    margin: 0 auto 30px;
}

.testimonial-item p {
    margin-bottom: 50px;
    color: #2b2a5a;
    font-size:16px;
    line-height: 26px;
}

.testimonial-item h5 {
    font-size: 20px;
    color: #2b2a5a;
    margin-bottom: 5px;
}

.testimonial-item span {
    color: #2b2a5a;
    opacity: .8;
}

.testimonial-item ul {
    margin: 0;
    color: #ffe552;
    margin-top: 20px;
}

.testimonials .slick-prev:before,
.testimonials .slick-next:before {
    font-size: 30px;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.uta-pricing-table {
    text-align: center;
    padding: 50px 30px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
}

.uta-pricing-table h6 {
    text-transform: uppercase;
}

.uta-pricing-table.recommended {
    position: relative;
}

.uta-pricing-table.recommended:after {
    position: absolute;
    content: 'Recommended';
    left: 27%;
    top: -15px;
    color: #fff;
    padding: 3px 15px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(142, 142, 142, 0.38);
    box-shadow: 0px 10px 20px 0px rgba(142, 142, 142, 0.38);
    border-radius: 20px;
    background: #065FD4
}

.uta-pricing-table .uta-currency {
    font-size: 16px;
}

.uta-pricing-table .uta-price {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 30px 0;
}

.uta-pricing-table>span {
    color: #000;
    border: 1px solid;
    border-radius: 20px;
    padding: 0 20px;
}

.uta-pricing-table ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.uta-pricing-table ul li {
    line-height: 40px;
}

.uta-pricing-table .uta-buy-button {
    color: #fff;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #065FD4
}

.uta-pricing-table .uta-buy-button:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(125, 66, 202, 0.4);
    box-shadow: 0px 10px 20px 0px rgba(125, 66, 202, 0.4);
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.uta-team {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
}

.uta-team img {
    margin-bottom: 20px;
    border-bottom: 1px solid #fff !important;
}

.uta-team h4 {
    margin-bottom: 5px;
}

.uta-team span {
    margin-bottom: 15px;
    display: block;
}

.uta-team ul {
    display: inline-block;
    margin-bottom: 25px;
}






/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
.uta-video-popup {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    text-align: center;
}

.uta-video-popup-overlay {
    display: table-cell;
    vertical-align: middle;
}

.uta-popup-video {
    position: relative;
    margin: auto;
    width: 66px;
    height: 66px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    -webkit-animation: 1.6s playShadow ease-out infinite;
    animation: 1.6s playShadow ease-out infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.uta-popup-video span {
    margin: auto;
    padding-left: 3px;
}

.uta-popup-video:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.uta-btn {
    border: none;
    color: #333;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 50px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    background: #065FD4
}

.uta-btn:hover {
    color: #333;
}

.uta-btn i {
    margin-right: 20px;
}

.uta-btn.shadow {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 7px 10px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 10px 6px rgba(0, 0, 0, 0.08);
}

.uta-play-btn>span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: inherit;
    border-color: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.uta-play-btn-txt {
    font-weight: 700;
    color: #000;
}

.uta-play-btn-icon {
    border-radius: 50%;
    margin-top: -5%;
    margin-bottom: -5%;
    letter-spacing: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    width: 3.5em;
    height: 3.5em;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-left: 0;
    margin-right: 20px;
    border: none;
    color: #fff;
}

.uta-btn.bordered {
    background: #fff;
    border: 2px solid;
}

.uta-btn.bordered:hover {
    color: #333;
}


/*--------------------------------------------------------------
# Accordion
--------------------------------------------------------------*/
.uta-accordion {}

/*Style 1*/

.uta-accordion-item:not(last-child) {
    margin-bottom: 15px;
}

.uta-accordion-item {
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.05);
}

.uta-accordion-item.active h5 {
    border-bottom: 1px solid #dadde1;
}

.uta-accordion-item h5 {
    padding: 20px 30px;
    cursor: pointer;
    margin-bottom: 0 !important;
}

.uta-accordion.style-1 .uta-accordion-item h5 span {
    float: right;
    padding: 5px;
}

.uta-accordion-item.active h5 span:nth-child(1) {
    display: none;
}

.uta-accordion-item h5 span:nth-child(2) {
    display: none;
}

.uta-accordion-item.active h5 span:nth-child(2) {
    display: block;
}

.uta-accordion-item .collapsing,
.uta-accordion-item .collapse {
    padding: 15px 30px;
}











.accordion {
}


.accordion__item a {
    margin-top: 11px;
}



@media screen and (min-width: 768px) {
  .accordion {
    font-size: 18px;
  }
}

.accordion__title {
  color: #494041;
  margin-bottom: 30px;
  position: relative;
  font-weight: 900;
  line-height: 1.2;
}
.accordion__item {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0;
  overflow: hidden;
}
.accordion__item:first-of-type {
  border-radius: 10px 10px 0 0;
}
.accordion__item:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion__toggle {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: #ffffff;
  font-weight: 500;
  border: 1px solid #eeeeee;
   padding: 20px 30px;
  box-shadow: 0px 10px 20px rgba(97, 105, 140, 0.1);
}



.uta-accordion-item h5 {
   
    cursor: pointer;
    margin-bottom: 0 !important;
}




/* Accordion
================================================== */
.acc {
}

.acc__card {
  margin: 2em 0px;
  position: relative;
  box-shadow: 0px 11px 29px rgba(97, 105, 140, 0.1);
}

.acc__title {
  background: #fff;
  color: #212121;
  cursor: pointer;
  display: block;
  padding: 20px 30px;
  position: relative;
  text-align: left;
}
.acc__title h5{
    margin: 0;
}
.acc__title::after {
  width: 8px;
  height: 8px;
  border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78;
  position: absolute;
  right: 20px;
  content: " ";
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.acc__title.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.acc__title.active{
    border-bottom:1px solid #dadde1;
}

.acc__panel {
  background: #fff;
  color: #212121;
  display: none;
  margin: 0;
  padding: 2em;
  text-align: left;
  font-size: 16px
}
