<!DOCTYPE html>
<html  class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Title</title>
	<link rel="icon" href="assets/img/icon.png" type="image/gif" sizes="16x16">
	<link rel="icon" href="assets/img/icon.png" type="image/gif" sizes="18x18">
	<link rel="icon" href="assets/img/icon.png" type="image/gif" sizes="20x20">
	<link rel="stylesheet" href="assets/css/fontawesome.all.min.css">
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
	<!-- Banner Section -->
	<section class="banner-area pt-100 pb-100" style="background-image: url('assets/img/bg.jpg');">
		<div class="container">
			<div class="banner-text text-center pt-100 pb-100">
				<h2>Team Unick Design HTML Template</h2>
			</div>
		</div>
	</section>
	<!-- End Section -->
	<!-- Start Team Style Default -->
	<section class="team-area pt-100 pb-50">
		<div class="container">
			<div class="section-title pb-40 mt-20 text-center">
				<h3>Team Style Default</h3>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-default">
					<img src="assets/img/29.jpg" alt="team img">
					<div class="team-style-default-content">
						<h3>Ricolas Poran </h3>
						<h5>Web Developer</h5>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-default">
					<img src="assets/img/28.jpg" alt="team img">
					<div class="team-style-default-content">
						<h3>Regina Blackly </h3>
						<h5>CEO of Company </h5>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-default">
					<img src="assets/img/27.jpg" alt="team img">
					<div class="team-style-default-content">
						<h3>Nicolas Poran </h3>
						<h5>Web Designer</h5>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style Default -->
	<!-- Start Team Style 1 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 01</h3>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-1">
					<div class="team-img">
						<img src="assets/img/1.jpg" alt="team-img">
					</div>
					<div class="team-content">
						<h3>Faria Ismaikal</h3>
						<p>Web Designer</p>
					</div>
					<div class="team-overly">
						<div class="team-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-1">
					<div class="team-img">
						<img src="assets/img/2.jpg" alt="team-img">
					</div>
					<div class="team-content">
						<h3>Liam Hemsworth</h3>
						<p>Woocommerce Designer</p>
					</div>
					<div class="team-overly">
						<div class="team-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="grid-3">
				<div class="team-style-1">
					<div class="team-img">
						<img src="assets/img/3.jpg" alt="team-img">
					</div>
					<div class="team-content">
						<h3>Syed Raziul Islam</h3>
						<p>Web Developer</p>
					</div>
					<div class="team-overly">
						<div class="team-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 1 -->
	<!-- Start Team Style 2 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 02</h3>
			</div>
			<div class="team-style-2-full">
				<!-- single -->
				<div class="grid-4">
					<div class="team-style-2">
						<div class="team-img-2">
							<img src="assets/img/5.jpg" alt="team-img">
						</div>
						<div class="team-style-2-overly">
							<div class="team-style-2-overly-full">
								<h3>Jhone Doe</h3>
								<p>Web Designer</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-4">
					<div class="team-style-2">
						<div class="team-img-2">
							<img src="assets/img/6.jpg" alt="team-img">
						</div>
						<div class="team-style-2-overly">
							<div class="team-style-2-overly-full">
								<h3>Kate Lester</h3>
								<p>Account Officer</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-4">
					<div class="team-style-2">
						<div class="team-img-2">
							<img src="assets/img/7.jpg" alt="team-img">
						</div>
						<div class="team-style-2-overly">
							<div class="team-style-2-overly-full">
								<h3>Liam Hemsworth</h3>
								<p>UI/UX Designer</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-4">
					<div class="team-style-2">
						<div class="team-img-2">
							<img src="assets/img/8.jpg" alt="team-img">
						</div>
						<div class="team-style-2-overly">
							<div class="team-style-2-overly-full">
								<h3>Florence Williamson</h3>
								<p>Web Developer</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 2 -->
	<!-- Start Team Style 3 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 03</h3>
			</div>
			<div class="team-style-3-full">
				<!-- single -->
				<div class="grid-2 mb-30">
					<div class="team-style-3">
						<div class="team-style-3-img">
							<img src="assets/img/9.jpg" alt="team">
						</div>
						<div class="team-style-3-content">
							<h3>Dr. Tehmina Khan</h3>
							<h5>Primary Care Doctor</h5>
							<p>Dr. Alan Stern was born in DuBois, Pennsylvania and is a graduate.</p>
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-2 mb-30">
					<div class="team-style-3">
						<div class="team-style-3-img">
							<img src="assets/img/10.jpg" alt="team">
						</div>
						<div class="team-style-3-content">
							<h3>Dr. Marin Garcia</h3>
							<h5>Family Physician</h5>
							<p>Dr. Alan Stern was born in DuBois, Pennsylvania and is a graduate.</p>
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-2 mb-30">
					<div class="team-style-3">
						<div class="team-style-3-img">
							<img src="assets/img/10.jpg" alt="team">
						</div>
						<div class="team-style-3-content">
							<h3>Dr. Marin Garcia</h3>
							<h5>Family Physician</h5>
							<p>Dr. Alan Stern was born in DuBois, Pennsylvania and is a graduate.</p>
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- single -->
				<div class="grid-2 mb-30">
					<div class="team-style-3">
						<div class="team-style-3-img">
							<img src="assets/img/9.jpg" alt="team">
						</div>
						<div class="team-style-3-content">
							<h3>Dr. Tehmina Khan</h3>
							<h5>Primary Care Doctor</h5>
							<p>Dr. Alan Stern was born in DuBois, Pennsylvania and is a graduate.</p>
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 3 -->
	<!-- Start Team Style 4 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 04</h3>
			</div>
			<div class="team-style-4-full">
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-4">
						<div class="team-style-single-4-full">
							<img src="assets/img/1.jpg" alt="team">
							<div class="team-style-4-overly">
								<div class="team-style-4-overly-full">
									<h3>Regina Blackly </h3>
									<h5>Web Designer</h5>
									<div class="social">
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-4">
						<div class="team-style-single-4-full">
							<img src="assets/img/2.jpg" alt="team">
							<div class="team-style-4-overly">
								<div class="team-style-4-overly-full">
									<h3>Regina Blackly </h3>
									<h5>Web Designer</h5>
									<div class="social">
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-4">
						<div class="team-style-single-4-full">
							<img src="assets/img/4.jpg" alt="team">
							<div class="team-style-4-overly">
								<div class="team-style-4-overly-full">
									<h3>Regina Blackly </h3>
									<h5>Web Designer</h5>
									<div class="social">
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 4 -->
	<!-- Start Team Style 5 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 05</h3>
			</div>
			<div class="team-style-5-full">
				<!-- Single -->
				<div class="grid-5">
					<div class="team-style-5">
						<img src="assets/img/8.jpg" alt="team">
						<h3>Faria Ismaikal</h3>
						<h5>Designer</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-5">
					<div class="team-style-5">
						<img src="assets/img/9.jpg" alt="team">
						<h3>Faria Ismaikal</h3>
						<h5>Designer</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-5">
					<div class="team-style-5">
						<img src="assets/img/10.jpg" alt="team">
						<h3>Faria Ismaikal</h3>
						<h5>Designer</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-5">
					<div class="team-style-5">
						<img src="assets/img/1.jpg" alt="team">
						<h3>Faria Ismaikal</h3>
						<h5>Designer</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-5">
					<div class="team-style-5">
						<img src="assets/img/2.jpg" alt="team">
						<h3>Faria Ismaikal</h3>
						<h5>Designer</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 5 -->
	<!-- Start Team Style 6 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 06</h3>
			</div>
			<div class="team-style-6-full">
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-6">
						<img src="assets/img/1.jpg" alt="team-img">
						<div class="team-style-6-overly">
							<div class="team-style-6-overly-full">
								<h3>Beth Mooney</h3>
								<h5>Developer</h5>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-6">
						<img src="assets/img/2.jpg" alt="team-img">
						<div class="team-style-6-overly">
							<div class="team-style-6-overly-full">
								<h3>Nicolas Poran</h3>
								<h5> WEB of Company </h5>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-6">
						<img src="assets/img/3.jpg" alt="team-img">
						<div class="team-style-6-overly">
							<div class="team-style-6-overly-full">
								<h3>Regina Blackly </h3>
								<h5>CEO of Company</h5>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-6">
						<img src="assets/img/4.jpg" alt="team-img">
						<div class="team-style-6-overly">
							<div class="team-style-6-overly-full">
								<h3>Beth Mooney</h3>
								<h5>UI/UX Designer</h5>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 6 -->
	<!-- Start Team Style 7 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 07</h3>
			</div>
			<div class="team-style-7-full">
				<div class="grid-2 mb-30">
					<div class="team-style-7">
						<div class="team-style-7-img">
							<img src="assets/img/11.jpg" alt="team-img">
							<div class="team-style-7-overly">
								<div class="team-style-7-overly-full">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-7-content">
							<h3>Tehmina Khan</h3>
							<h5>seo</h5>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						</div>
					</div>
				</div>
				<div class="grid-2 mb-30">
					<div class="team-style-7">
						<div class="team-style-7-img">
							<img src="assets/img/12.jpg" alt="team-img">
							<div class="team-style-7-overly">
								<div class="team-style-7-overly-full">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-7-content">
							<h3>Tehmina Khan</h3>
							<h5>Designer</h5>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						</div>
					</div>
				</div>
				<div class="grid-2 mb-30">
					<div class="team-style-7">
						<div class="team-style-7-img">
							<img src="assets/img/12.jpg" alt="team-img">
							<div class="team-style-7-overly">
								<div class="team-style-7-overly-full">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-7-content">
							<h3>Tehmina Khan</h3>
							<h5>Developoer</h5>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						</div>
					</div>
				</div>
				<div class="grid-2 mb-30">
					<div class="team-style-7">
						<div class="team-style-7-img">
							<img src="assets/img/11.jpg" alt="team-img">
							<div class="team-style-7-overly">
								<div class="team-style-7-overly-full">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fas fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-7-content">
							<h3>Tehmina Khan</h3>
							<h5>Progammer</h5>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 7 -->
	<!-- Start Team Style 8 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 08</h3>
			</div>
			<div class="team-style-8-full">
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-8">
						<div class="team-style-8-img">
							<img src="assets/img/13.jpg" alt="team">
						</div>
						<div class="team-style-8-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="team-style-8-content">
							<h3>Jhone Brown</h3>
							<h5> Sr. Graphic Designer </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-8">
						<div class="team-style-8-img">
							<img src="assets/img/14.jpg" alt="team">
						</div>
						<div class="team-style-8-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="team-style-8-content">
							<h3>Jessica Twain</h3>
							<h5> Founder &amp; CEO </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-8">
						<div class="team-style-8-img">
							<img src="assets/img/15.jpg" alt="team">
						</div>
						<div class="team-style-8-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="team-style-8-content">
							<h3>Telewal </h3>
							<h5> Web Development Leader </h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 8 -->
	<!-- Start Team Style 9 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 09</h3>
			</div>
			<div class="team-style-9-full">
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-9">
						<div class="team-style-9-img">
							<img src="assets/img/16.jpg" alt="team">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Walter White</h3>
						<h5> Chief Medical Officer </h5>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-9">
						<div class="team-style-9-img">
							<img src="assets/img/17.jpg" alt="team">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Walter White</h3>
						<h5> Chief Medical Officer </h5>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-9">
						<div class="team-style-9-img">
							<img src="assets/img/18.jpg" alt="team">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Walter White</h3>
						<h5> Chief Medical Officer </h5>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-9">
						<div class="team-style-9-img">
							<img src="assets/img/19.jpg" alt="team">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Walter White</h3>
						<h5> Chief Medical Officer </h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 9 -->
	<!-- Start Team Style 10 -->
	<section class="team-area pt-50 pb-50 section-bg">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 10</h3>
			</div>
			<div class="team-style-10-full">
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-10">
						<div class="team-style-10-img">
							<img src="assets/img/5.jpg" alt="team">
						</div>
						<div class="team-style-10-content">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
							<h3>Kay Garland</h3>
							<h5> Lead Designer </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-10">
						<div class="team-style-10-img">
							<img src="assets/img/6.jpg" alt="team">
						</div>
						<div class="team-style-10-content">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
							<h3>Kay Garland</h3>
							<h5> Lead Designer </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-10">
						<div class="team-style-10-img">
							<img src="assets/img/7.jpg" alt="team">
						</div>
						<div class="team-style-10-content">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
							<h3>Kay Garland</h3>
							<h5> Lead Designer </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-10">
						<div class="team-style-10-img">
							<img src="assets/img/8.jpg" alt="team">
						</div>
						<div class="team-style-10-content">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
							<h3>Kay Garland</h3>
							<h5> Lead Designer </h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Team 10 Style -->
	<!-- Start Team Style 11 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 11</h3>
			</div>
			<div class="team-style-11-full">
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-11">
						<img src="assets/img/20.jpg" alt="team">
						<div class="team-single-info-11">
							<div class="member-info-content">
              					<h3>Walter White</h3>
              					<h5>Chief Executive Officer</h5>
            				</div>
            				<div class="team-member-icon">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-11">
						<img src="assets/img/21.jpg" alt="team">
						<div class="team-single-info-11">
							<div class="member-info-content">
              					<h3>Walter White</h3>
              					<h5>Chief Executive Officer</h5>
            				</div>
            				<div class="team-member-icon">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-11">
						<img src="assets/img/22.jpg" alt="team">
						<div class="team-single-info-11">
							<div class="member-info-content">
              					<h3>Walter White</h3>
              					<h5>Chief Executive Officer</h5>
            				</div>
            				<div class="team-member-icon">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-4">
					<div class="team-style-11">
						<img src="assets/img/23.jpg" alt="team">
						<div class="team-single-info-11">
							<div class="member-info-content">
              					<h3>Walter White</h3>
              					<h5>Chief Executive Officer</h5>
            				</div>
            				<div class="team-member-icon">
            					<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 11 -->
	<!-- Start Team Style 12 -->
	<section class="team-area pt-50 pb-50 section-bg">
		<div class="container">
			<div class="section-title pt-20 pb-40 text-center">
				<h3>Team Style 12</h3>
			</div>
			<div class="team-style-12-full">
				<!-- Single -->
				<div class="grid-2 mb-30">
					<div class="team-style-12">
						<div class="team-style-12-img">
							<img src="assets/img/1.jpg" alt="team">
						</div>
						<div class="team-style-12-content">
							<div class="team-style-12-content-full">
								<h3>Robert John</h3>
								<h5>Machine Learning</h5>
								<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-2 mb-30">
					<div class="team-style-12">
						<div class="team-style-12-img">
							<img src="assets/img/2.jpg" alt="team">
						</div>
						<div class="team-style-12-content">
							<div class="team-style-12-content-full">
								<h3>Jeffrey Brown</h3>
								<h5>Assistant</h5>
								<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-2 mb-30">
					<div class="team-style-12">
						<div class="team-style-12-img">
							<img src="assets/img/4.jpg" alt="team">
						</div>
						<div class="team-style-12-content">
							<div class="team-style-12-content-full">
								<h3>Robert John</h3>
								<h5>Machine Learning</h5>
								<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-2 mb-30">
					<div class="team-style-12">
						<div class="team-style-12-img">
							<img src="assets/img/3.jpg" alt="team">
						</div>
						<div class="team-style-12-content">
							<div class="team-style-12-content-full">
								<h3>Linda Larson</h3>
								<h5>Assistant</h5>
								<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 12 -->
	<!-- Start Team Style 13 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 13</h3>
			</div>
			<div class="team-style-13-full">
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-13">
						<img src="assets/img/1.jpg" alt="team">
						<div class="team-style-13-overly-top">
							<div class="team-style-13-overly-top-full">
								<h3>Regina Blackly </h3>
								<h5>CEO of Company </h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
								<div class="social-top">
									<ul>
	            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
	            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
	            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
	            					</ul>
								</div>
							</div>
						</div>
						<div class="team-style-13-overly-bottom">
							<div class="social-bottom">
								<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-13">
						<img src="assets/img/2.jpg" alt="team">
						<div class="team-style-13-overly-top">
							<div class="team-style-13-overly-top-full">
								<h3>Regina Blackly </h3>
								<h5>CEO of Company </h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
								<div class="social-top">
									<ul>
	            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
	            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
	            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
	            					</ul>
								</div>
							</div>
						</div>
						<div class="team-style-13-overly-bottom">
							<div class="social-bottom">
								<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-13">
						<img src="assets/img/4.jpg" alt="team">
						<div class="team-style-13-overly-top">
							<div class="team-style-13-overly-top-full">
								<h3>Regina Blackly </h3>
								<h5>CEO of Company </h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
								<div class="social-top">
									<ul>
	            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
	            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
	            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
	            					</ul>
								</div>
							</div>
						</div>
						<div class="team-style-13-overly-bottom">
							<div class="social-bottom">
								<ul>
            						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            						<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            					</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 13 -->
	<!-- Start Team Style 14 -->
	<section class="team-area pt-50 pb-50">
		<div class="container">
			<div class="section-title pb-40 text-center">
				<h3>Team Style 14</h3>
			</div>
			<div class="team-style-14-full">
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-14">
						<div class="team-style-14-img">
							<img src="assets/img/24.jpg" alt="team">
							<div class="team-style-14-img-overly">
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-14-content">
							<h3>Energy Mintu </h3>
							<h5>Founder</h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-14">
						<div class="team-style-14-img">
							<img src="assets/img/25.jpg" alt="team">
							<div class="team-style-14-img-overly">
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-14-content">
							<h3>Patrick Griffin </h3>
							<h5>Senior Cleaner </h5>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="grid-3">
					<div class="team-style-14">
						<div class="team-style-14-img">
							<img src="assets/img/25.jpg" alt="team">
							<div class="team-style-14-img-overly">
								<div class="social">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-style-14-content">
							<h3>Sabiya Sultan </h3>
							<h5>Cleaner</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Style 14 -->
	<!-- Start Footer Area -->
	<footer class="footer section-bg pt-30 pb-30">
		<div class="container">
			<div class="footer-text text-center">
				<p>Copyright © 2021 <a href="https://codepopular.com/" target="_blank">Codepopular</a> | All Right Reserved</p>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->
	<div class="scroll-area">
       <i class="fa fa-angle-up"></i>
    </div>
    <!-- Js File -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>